@font-face {
  font-family: 'BebasNeue';
  src: url("/fonts/BebasNeue.otf"); }

@font-face {
  font-family: 'MaturaScriptCapitals';
  src: url("/fonts/MaturaMTScriptCapitals.ttf"); }

@font-face {
  font-family: 'iconfont';
  /* project id 1273539 */
  src: url("//at.alicdn.com/t/font_1273539_q26n9yg0g3.eot");
  src: url("//at.alicdn.com/t/font_1273539_q26n9yg0g3.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1273539_q26n9yg0g3.woff2") format("woff2"), url("//at.alicdn.com/t/font_1273539_q26n9yg0g3.woff") format("woff"), url("//at.alicdn.com/t/font_1273539_q26n9yg0g3.ttf") format("truetype"), url("//at.alicdn.com/t/font_1273539_q26n9yg0g3.svg#iconfont") format("svg"); }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }
  .iconfont.icon-github::before {
    content: '\e6b7'; }
  .iconfont.icon-douban::before {
    content: '\e7a1'; }
