[submodule "themes/hexo-theme-fluid"]
	path = themes/hexo-theme-fluid
	url = https://github.com/SHUAXINDIARY/hexo-theme-fluid
[submodule "themes/--name"]
	path = themes/--name
	url = https://github.com/SHUAXINDIARY/hexo-theme-fluid
[submodule "themes/fluid"]
	path = themes/fluid
	url = https://github.com/SHUAXINDIARY/hexo-theme-fluid
